# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*

# Node
node_modules/

# Build outputs
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# IDE
.idea/
.vscode/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Misc
*.swp
*.swo
